/* CSS Document */



.nav-item {
    
            font-size:1.3em;
    
          }


a.nav-item.nav-link  {
    
                        margin-right: 30px;
                        margin-top: 35px;

                     }


.navbar-light .navbar-nav .nav-link.active {
    
                                              color: #f28232;
                                              border-top: solid #f28232;
 
                                            }



.navbar-brand {
	
                font-size:1.8em;
	
              }



.navbar-nav a:hover {
	
                      border-top: solid #f28232;
                      
				    }



#topContainer {
	
				 height:auto;
				 width:100%;
    
              }



#flex_home  {
    
              margin-left: 20%;
              justify-content: center;
    
            }


#flex_home img {
    
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  width: 80%;
    
              }


#topRow {
	
          margin-top:100px;
          text-align:center;
	
	    } 
			   


#topRow h1 {
	
             font-size:300%;
	
           }			   



.bold {
	
        font-weight:bold;
	
      }



.marginTop {
	
             margin-top:140px;
		
           }


.center {
	
           text-align:center;
    
        }



.title {
	
		  margin-top:80px;	
		  font-size:600%;	
          font-family: 'Pinyon Script', cursive;
	
	   }



.lead {
    
        font-family: 'Roboto', sans-serif;
        color: black;
        text-align:center;
        margin-left: 21%;
        margin-right: 21%;
        margin-bottom: 3%;
        margin-top: 1%; 
    
      }


.flex-container {
    
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
    
                }



/*.flex-container img {
    
                        width:200px;
                        height:200px;
                        margin:10px;
                        transition: all 1s;
    
                     }*/



.flex-container img:hover {
    
                             transform:scale(1.1);

                           }



#flex_pastelaria {
    
                        margin-bottom: 40px;
    
                 }


#flex_pastelaria img {
    
                        width:270px;
                        height:195px;
                        margin:10px;
                        transition: all 1s;
                        border-radius: 10px;

                      }




#pastelaria {
    
               background-color: #ff9c37;
       
            }



#padaria {
    
            background-color: #f6bb55;

         }


#flex_padaria {
    
        margin-bottom: 3%;
        margin-bottom: 3%;
                
              }


#flex_padaria img {
    
                        width:200px;
                        height:170px;
                        margin:10px;
                        transition: all 1s;
                        border-radius: 10px;

                   }



.paes  {
    
           margin-bottom: 40px;

       }



.paes li {
    
            background-color: #f6bb55;
            font-family: 'Roboto', sans-serif;
            font-size:130%;	
            color: black;
            border-color: none;
            text-align: center;
    
    
         }


ul {
  
     list-style-type: none;
    
    
   }



.cards {
    
         display: flex;
         flex-wrap: wrap;
         border-color: #ff9c37;    
          
        }



.card {
    
        text-align: center;
        padding: 9px;
        margin-top: 21px;
        border-color: #ff9c37;  
        flex: 120 0 250px;
        flex: 1;


      }



h3.card-title  {
    
                  background-color: #ff9c37;
                  font-family: 'Roboto', sans-serif;
                  color: black;
                  border-radius: 5px;

                }


h5.card-title  {
    
                  font-family: 'Roboto', sans-serif;
                  color: black;

               }


.card-text {
    
              font-family: 'Roboto', sans-serif;
              color: black;

           }


.price {
    
         color:#ff9c37;
    
       }




.flex_refeicoes img {
    
                        width:260px;
                        height:160px;
                        margin:15px;
                        transition: all 1s;
                        text-align: center; 
                        border: 1px solid #e28c01; 
                        border-radius: 10px;

                    }



.list-group  {
  
               display: inline-flex;
               flex-direction: column;
               flex: 1;

             }


.list-group-item {
    
                    flex: 1;
    
                 }



#footer {
	
          background-color:#fed9ad;
          padding-top:5px;
          width:100%; 
          font-family: 'Roboto', sans-serif;
          color: black;
    
        }

    
.contactbackground {
    
                      background-color:#fed9ad;

                   }




.contactstitles {
    
                  font-family: 'Pinyon Script', cursive;
                  color: black;
                  font-size: 288%;
                  text-align: center;
    
                }



.contactstext {
    
                 font-family: 'Roboto', sans-serif;
                 color: black;
                 text-align: center;  
                 margin-top: 12%;

              }



.contactsphonenumber {
    
                        color: #F07818;
                        font-family: 'Roboto', sans-serif;
                        text-align: center; 
    
                     }



.contactstitlephonenumber {
    
                            font-family: 'Pinyon Script', cursive;
                            color: black;
                            font-size:288%;
                            text-align: center;  
                            margin-left: 15%;

                          }


.contactshoursdays {
    
                     color: #F07818;
                     font-family: 'Roboto', sans-serif;
                     text-align: center;  
                     margin-bottom: 5%;
                     margin-top: 12%;
   
                   }



.contactshours {
    
                    color: black;
                    font-family: 'Roboto', sans-serif;
                    text-align: center;  
                    margin-bottom: 5%;

               }




.contactstitleemail {
    
                        font-family: 'Pinyon Script', cursive;
                        color: black;
                        font-size:288%;
                        text-align: center;  

                    }



.contactsemail a {
    
                    color: #007bff;
                    font-family: 'Roboto', sans-serif;
                    text-align: center; 

                 }


.fa-facebook {
    
               background: #3B5998;
               color: white;

             }


.fa {
    
        padding: 20px;
        font-size: 60px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    
    }


.marginBottom {
	
                margin-bottom:30px;
	
              } 
